<div class="col-sm-12" style="text-align: center">
  <%= link_to 'Standard', new_invoice_path, :class => 'btn btn-primary' %> <%= link_to 'Simple', new_invoice_path + "?simple=true", :class => 'btn btn-primary' %>  <%= link_to 'Bulk Upload', new_invoice_path + "?bulk=true", :class => 'btn btn-primary' %>
</div>